@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

/*Estilos de la pantalla Register*/
.container {
  height: 100vh;
}

.container__splash {
  display: none;
}

.container__form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/Images/background.png);
  background-size: cover;
  padding: 20px;
  box-sizing: border-box;
}

.container__header {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 261px;
}

.container__title {
  width: 100%;
  padding-bottom: 15px;
  text-align: left;
  color: #ffff;
  font-weight: bold;
  font-size: 44px;
  line-height: 3rem;
}

.container__icon {
  display: flex;
  flex-direction: column;
  width: 56px;
  height: 49.22px;
  align-self: self-start;
}

.form-register {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.container-input p {
  color: #757575;
  font-size: 14px;
}

.input {
  font-size: 16px;
  width: 261px;
  height: 54px;
  border-radius: 7px;
  border-color: #ffff;
  background-color: transparent;
  color: #ffff;
  display: flex;
  margin: auto;
}

.button {
  font-size: 16px;
  width: 261px;
  color: #ffff;
  border-radius: 20px;
  border: none;
  background-color: #513ba1;
  gap: 2rem;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 7px 15px;
}

/*Estilos de la pantalla Home*/

.div-button {
  display: grid;
  place-items: center;
  position: absolute;
  gap: 2rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*Styles for failure text*/
.input-container p {
  margin: 5px 0 0 5px;
  color: #757575;
  font-size: 14px;
}

.custom-failure-text {
  text-align: center;
  font-weight: normal;
  color: #757575;
  font-size: 14px;
}

/*Responsive*/

/* @media (min-width: 481px) and (max-width: 768px) {
} */

@media (min-width: 769px) {
  .container {
    display: flex;
    flex-direction: row;
  }

  .container__splash {
    width: 55%;
    background-image: url(./Images/background.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container__splash-img {
    width: 100%;
  }

  .planet-img {
    width: 100%;
  }

  .brand {
    width: 100%;
    color: #ffff;
    font-family: Dreams;
    text-align: center;
  }

  .slogan {
    color: #ffff;
  }

  .btn-start {
    color: #ffff;
    display: none;
  }

  .container__form {
    width: 45%;
    background-image: none;
  }

  .container__title {
    width: 100%;
    padding-bottom: 15px;
    text-align: left;
    color: #513ba1;
    font-size: 44px;
    line-height: 3rem;
  }

  .container__icon img {
    filter: brightness(0) saturate(100%) invert(28%) sepia(21%) saturate(2877%)
      hue-rotate(221deg) brightness(93%) contrast(101%);
  }

  .input {
    border: 1px solid #757575;
    color: #919191;
    background-color: transparent;
  }
}
