@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: Poppins;
    font-style: normal ;
    src: url(./fonts/Poppins-family/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-Bold;
    font-style: bold;
    src: url(./fonts/Poppins-family/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-Light;
    font-style: light ;
    src: url(./fonts/Poppins-family/Poppins-Light.ttf);
}

body{
    font-family: Poppins, Arial, Helvetica, sans-serif;
    height: 100vh;
}

/*Estilos de la pantalla Register*/
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./Images/background.png);
    background-size: cover;
}

<<<<<<< HEAD
.container__splash {
  display: none;
}

.container__singin {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 26px;
  color: #c9c9c9;
  margin-bottom: 45px;
}

.container__form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/Images/background.png);
  background-size: cover;
  padding: 20px;
  box-sizing: border-box;
}

.container__header {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 261px;
}

.container__title {
  width: 100%;
  padding-bottom: 15px;
  text-align: left;
  color: #ffff;
  font-weight: bold;
  font-size: 44px;
  line-height: 3rem;
=======
.container__title{
    max-width: 62%;
    text-align: center;
    color: #ffff;
    font-family: Poppins-bold;
    font-size: 51px;
    line-height: 3.2rem;
>>>>>>> feature-natalia
}

.container__icon {
  display: flex;
  flex-direction: column;
  width: 56px;
  height: 49.22px;
  align-self: self-start;
}

.form-register {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.input {
<<<<<<< HEAD
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 16px;
  width: 261px;
  height: 54px;
  border-radius: 7px;
  border-color: #ffffff;
  background-color: transparent;
  color: #c9c9c9;
  display: flex;
  margin: auto;
  padding: 10px 18px;
}

.input::placeholder {
  color:#848484
}

.button {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 16px;
  width: 261px;
  color: #ffff;
  border-radius: 20px;
  border: none;
  background-color: #513ba1;
  gap: 2rem;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 7px 15px;
  cursor: pointer;
=======
    font-family: Poppins ;
    font-size: 16px;
    width: 261px;
    height: 54px;
    border-radius: 7px;
    border-color: #ffff;
    background-color: transparent;
    color: #ffff;
    padding: 10px 18px;
    display: flex;
    margin: auto;
}

.button{
    font-family: Poppins ;
    font-size: 16px;
    width: 261px;
    color: #ffff;
    border-radius: 20px;
    border: none;
    background-color: #513BA1 ;
    gap: 2rem;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 7px 15px;
>>>>>>> feature-natalia
}

.button:hover {
  opacity: 0.8;
  background-color: #7B23FE;
}

.container__optional {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.line {
  height: 0px;
  width: 112px;
  border: 1.5px solid #ffff;
}

.or {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 19px;
  color: #ffff;
}

.button-google {
  display: flex;
  flex-direction: row-reverse;
  width: 261px;
  max-height: 37.33px;
  color: #000000;
  border-radius: 20px;
  border: none;
  background-color: #b8ace3;
  gap: 2rem;
  align-items: center;
  margin: auto;
  padding: 7px 15px;
}

.button-google:hover {
  color: aliceblue
}

.container__text-google {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  text-align: left;
  color: #020202;
  position: relative;
  right: 33px;
}

.container__icon-google {
  float: left;
  margin-right: 12px;
  margin: 5px 12px 0px 0px;
}

.container__icon-google img {
  filter: brightness(0) saturate(100%) invert(17%) sepia(0%) saturate(0%)
    hue-rotate(26deg) brightness(97%) contrast(83%);
  width: 34px;
}

.container__redirect {
  display: flex;
  align-items: center;
  margin-top: 10px;  
}

.container__description {
  font-size: 14px;
  margin-right: 7px;
  color: #ffffff;
}

.text-redirect {
  font-size: 14px;
  font-weight: bold;
  /* color: #513ba1; #472ea2 #4f33b2 */
  color: #f8f0ff;
  cursor: pointer;
}

.text-redirect:hover {
  text-decoration: underline;
}

/*Estilos de la pantalla Home*/
.div-button {
  display: grid;
  place-items: center;
  position: absolute;
  gap: 2rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*Styles for failure text*/
.input-container p {
  margin: 5px 0 0 5px;
  color: #757575;
  font-size: 14px;
}

<<<<<<< HEAD
/*Responsive*/

/* @media (min-width: 481px) and (max-width: 768px) {
} */

@media (min-width: 769px) and (max-width: 1920px) {
  .container {
    display: flex;
    flex-direction: row;
  }

  .container__splash {
    width: 55%;
    background-image: url(./Images/background.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container__splash-img {
    width: 100%;
  }

  .planet-img {
    width: 100%;
  }

  .container__brand {
    display: flex;
    justify-content: center;
  }

  .brand {
    width: 40%;
  }

  .slogan {
    font-size: 17px;
    color: #ffff;
    padding: 30px 10px;
    font-size: 1rem;
    white-space: pre-wrap;
  }

  .btn-start {
    color: #ffff;
    display: none;
  }

  .container__singin {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 26px;
    color: #757575;
    margin-bottom: 45px;
  }

  .container__form {
    width: 45%;
    background-image: none;
  }

  .container__title {
    width: 100%;
    padding-bottom: 15px;
    text-align: left;
    color: #513ba1;
    font-size: 44px;
    line-height: 3rem;
  }

  .container__icon img {
    filter: brightness(0) saturate(100%) invert(28%) sepia(21%) saturate(2877%)
      hue-rotate(221deg) brightness(93%) contrast(101%);
  }

  .input {
    border: 1px solid #757575;
    color: #19002A;
    background-color: transparent;
  }

  .input::placeholder {
    color:#919191
  }

  .line {
    height: 0px;
    width: 112px;
    border: 0.5px solid #757575;
  }

  .or {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 19px;
    color: #757575;
  }

  .container__description {
    font-size: 14px;
    margin-right: 7px;
    color: #757575;
  }

  .text-redirect {
    font-size: 14px;
    font-weight: bold;
    /* color: #513ba1; #472ea2 #4f33b2 */
    color: #513ba1;
    cursor: pointer;
  }
  
  .text-redirect:hover {
    text-decoration: underline;
  }
}
=======
  .custom-failure-text {
    text-align: center;
    font-family: Poppins;
    font-weight: normal;
    color: whitesmoke;
    font-size: 14px;
  }
  
>>>>>>> feature-natalia
