@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

/*Estilos de la pantalla Register*/
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./Images/background.png);
    background-size: cover;
}

.container__title{
    max-width: 62%;
    text-align: center;
    color: #ffff;
    font-family: Poppins-bold;
    font-size: 51px;
    line-height: 3.2rem;
}

.container__icon{
    display: flex;
    width: 56px;
    height: 49.22px;
}

.form-register {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.input {
  font-size: 16px;
  width: 261px;
  height: 54px;
  border-radius: 7px;
  border-color: #ffff;
  background-color: transparent;
  color: #ffff;
  display: flex;
  margin: auto;
}

.button {
  font-size: 16px;
  width: 261px;
  color: #ffff;
  border-radius: 20px;
  border: none;
  background-color: #513ba1;
  gap: 2rem;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 7px 15px;
}

/*Estilos de la pantalla Home*/

.div-button {
  display: grid;
  place-items: center;
  position: absolute;
  gap: 2rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*Styles for failure text*/
  .input-container p {
    margin: 5px 0 0 5px;
    color: whitesmoke;
    font-size: 14px;
  }

  .custom-failure-text {
    text-align: center;
    font-family: Poppins;
    font-weight: normal;
    color: whitesmoke;
    font-size: 14px;
  }
  
